/_out
/bin
/.golangci.yml

/internal/server/dist/*
!/internal/server/dist/.gitkeep

/data/auths/*
!/data/auths/.gitkeep
/data/controls/*
!/data/controls/.gitkeep
/data/templates/*
!/data/templates/.gitkeep

/dist
.pnpm-store/
semicolon_delimited_script

/chore*

/go.work*
