/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
.node-request {
  .inputs .input_1 {
    @apply bg-yellow-200 text-center h-5 [line-height:1rem] text-gray-400;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'V';
    }
  }

  .outputs .output_1 {
    @apply bg-red-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'F';
    }
  }

  .outputs .output_2 {
    @apply bg-green-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'T';
    }
  }

  .outputs .output_3 {
    @apply bg-yellow-200 text-center h-5 [line-height:1rem] text-gray-400;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'R';
    }
  }
}

.node-email {
  .inputs .input_1 {
    @apply bg-yellow-200 text-center h-5 [line-height:1rem] text-gray-400;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'V';
    }
  }
}

.node-script {
  .outputs .output_1 {
    @apply bg-red-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'F';
    }
  }

  .outputs .output_2 {
    @apply bg-green-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'T';
    }
  }

  .outputs .output_3 {
    @apply bg-yellow-200 text-center h-5 [line-height:1rem] text-gray-400;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'R';
    }
  }
}

.node-if {
  .outputs .output_1 {
    @apply bg-red-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'F';
    }
  }

  .outputs .output_2 {
    @apply bg-green-400 text-center h-5 [line-height:1rem] text-white;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'T';
    }
  }
}

.node-note {
  padding: 10px;
  width: unset !important;

  .box {
    padding: 8px;
  }

  textarea {
    display: block;
    resize: none;
  }
}

.node-wait {
  .inputs .input_2 {
    @apply bg-yellow-200 text-center h-5 [line-height:1rem] text-gray-400;

    &:hover {
      @apply text-white;
    }

    &::before {
      content: 'P';
    }
  }
}

.title-box-alone {
  border-radius: unset !important;
}
